@model Site.Models.BlogModel
<script src="~/Scripts/vote-ops.js"></script>
<script src="~/Scripts/percent-tooltips.js"></script>

<div class="modal-wrapper">
    <div class="modal">
        <div class="modal-content">
            <h1 class="story-modal-headings">@Model.Title</h1>
            <div class="story-modal-chart">
                <canvas class="story-modal-chart-canvas" id="modalChart" height="150" width="325"></canvas>
            </div>
            <h2 class="story-votebuttons-modal-title">Vote</h2>
            <div class="story-votebuttons-modal-option-div">
                @{int count = 0;}
                @foreach (var pollItem in Model.Poll)
                {
                    <div id="modal-box-@count" class="story-votebuttons-modal-option-box story-votebuttons-modal-option-box-@count">
                        @{var option = pollItem.Key.Trim();}
                        <h4 id="story-votebuttons-modal-option-@count" class="story-votebuttons-modal-option">@option&nbsp:</h4>
                        <span id="modal-value-@count" class="story-votebuttons-modal-value story-votebuttons-modal-value-@count">@pollItem.Value</span>
                        @using (Html.BeginForm("Vote", "Stories"))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="pollItemKey" value="@pollItem.Key">
                            <input type="hidden" name="blogPostPartitionKey" value="@Model.AuthorIdentifier">
                            <input type="hidden" name="blogPostRowKey" value="@Model.BlogIdentifier">
                            <input type="hidden" name="returnUrl" value="/Stories/@Model.AuthorIdentifier/@Model.BlogIdentifier">
                            <input id="story-votebuttons-modal-button-@count" class="story-votebuttons-modal-button" type="submit" value="+1">
                        }
                        <div id="story-votebuttons-modal-box-colour-@count" class="story-votebuttons-modal-box-colour story-votebuttons-modal-box-colour-@count"></div>
                        @{count++;}
                        <script>
                            chartData.push(VoxPopCharts.GetPollData("@pollItem.Key", @pollItem.Value));
                            var numPoll = @Model.Poll.Count;
                            var buttonLink = true;
                        </script>
                    </div>
                }
            </div>
            <script>
                VoxPopCharts.GenerateChart("modalChart", chartData);
            </script>
        </div>
    </div>
</div>
