@model Site.Models.BlogModel
@{
    ViewBag.Title = "Comment";
    var ReplyId = Request.QueryString["replyId"];
    var Replyee = Request.QueryString["replyee"];
    var ReplyeeUN = Request.QueryString["replyeeUn"];
}

@section MetaTags
{
    @Html.Partial("_DefaultMetaTags")
}
<script src="~/Scripts/comment-vote-ops.js"></script>

<h1 class="page-headings">Comment</h1>
<div class="edit-intro">
    <p>Have YOUR say on @Html.ActionLink(@Model.Author, "AuthorStories", "Stories", new { Auth = @Model.AuthorIdentifier }, null)'s Story.</p>
</div>
<div class="create-form-box">
    @using (Html.BeginForm("Comment", "Stories"))
    {
        <div class="create-form-headings create-form-headings-Content">
            Comment
        </div>
        <div class="create-form-Content-box">
            <textarea type="text" id="comment-1"></textarea>
        </div>
        <p class="create-form-descriptions">Comment is free, but facts are sacred...</p>

        <div class="story-votebuttons-modal-option-div">
            @{int count = 0;}
            @foreach (var pollItem in Model.Poll)
            {
                <div id="modal-box-@count" class="story-votebuttons-modal-option-box story-votebuttons-modal-option-box-@count">
                    @{var option = pollItem.Key.Trim();}
                    <h4 id="story-votebuttons-modal-option-@count" class="story-votebuttons-modal-option">@option&nbsp:</h4>
                    <span id="modal-value-@count" class="story-votebuttons-modal-value story-votebuttons-modal-value-@count">@pollItem.Value</span>
                    @using (Html.BeginForm("Comment", "Stories"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="userComment" class="comment-2" xml:space="preserve">
                        <input type="hidden" name="commentPollItemKey" value="@pollItem.Key">
                        <input type="hidden" name="commentBlogPostPartitionKey" value="@Model.AuthorIdentifier">
                        <input type="hidden" name="commentBlogPostRowKey" value="@Model.BlogIdentifier">
                        <input type="hidden" name="commentId" value="@ReplyId">
                        <input type="hidden" name="repliedTo" value="@Replyee">
                        <input type="hidden" name="repliedToUN" value="@ReplyeeUN">


                        <input type="hidden" name="pollItemKey" value="@pollItem.Key">
                        <input type="hidden" name="blogPostPartitionKey" value="@Model.AuthorIdentifier">
                        <input type="hidden" name="blogPostRowKey" value="@Model.BlogIdentifier">
                        <input type="hidden" name="returnUrl" value="/Stories/@Model.AuthorIdentifier/@Model.BlogIdentifier">
                        <input id="story-votebuttons-modal-button-@count" class="story-votebuttons-modal-button" type="submit" value="+1">
                    }
                    <div id="story-votebuttons-modal-box-colour-@count" class="story-votebuttons-modal-box-colour story-votebuttons-modal-box-colour-@count"></div>
                    @{count++;}
                    <script>
                        chartData.push(VoxPopCharts.GetPollData("@pollItem.Key", @pollItem.Value));
                    </script>
                </div>
            }
        </div>
    }
</div>


<script type="text/javascript">
    var $tempComment = $(".comment-2");

    $("#comment-1").keyup(function() {
        $tempComment.val( this.value );
    });

    $("#comment-1").blur(function() {
        $tempComment.val( this.value );
    });
</script>

