<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vox Pop Biatch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/charts")

  
    
</head>



<body>
    
    @Html.ActionLink("VoxPop", "Index", null, new { @class="Logo" })
   
    <div id="navbar">
        <div id="CreateButton"><p>@Html.ActionLink("Create Story", "Create", null, new { @class="navbar-link" })</p></div>
        <div id="SearchButton"><p>@Html.ActionLink("Search VP", "Search", null, new { @class = "navbar-link" })</p></div>
    </div>

    
    
    
          
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vox Pop Biatch</p>
        </footer>
    </div>

 
</body>
</html>
