<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - VOXPOP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <meta property="fb:admins" content="699442430" />
    <meta property="og:site_name" content="VOXPOP" />
    @RenderSection("MetaTags")


    <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico">
</head>

<body>
    @Html.Partial("_LoginRegisterPartial")
    <div>
        <a href="@Url.Action("Index", "Home")" class="Logo">
        </a>
        <img class="logo-load" />
    </div>
    <div class="navbar">
        <div>
            <a id="top-stories-button" class="navbar-link" href="@Url.Action("Index", "Stories")">
                <p class="navbar-link-text">TOP STORIES</p>
            </a>
        </div>
        <div>
            <a id="CreateButton" class="navbar-link" href="@Url.Action("Create","Stories")">
                <p class="navbar-link-text">CREATE</p>
            </a>
        </div>
        <div id="Search">
            <form method="get" id="searchform" name="searchform" action="http://www.google.com/search" target="_blank">
                <input type="hidden" name="sitesearch" value="www.VOXPOP.london" />
                <input type="text" id="search-bar" name="q" value="" maxlength="255" placeholder=" Search for Stories and Authors... " />
                <input type="image" class="submit btn search-bar-icon" src="~/Images/search-icon-hi.png" alt="Go">
            </form>
        </div>
        <nav class="main-nav">
            <div>
                <a id="LoginButton" class="navbar-link cd-signin" href="#0">
                    @if (Request.IsAuthenticated)
                    {
                        <p class="navbar-link-text">@Site.Services.ClaimsService.GetAuthenticatedUsersFullName().ToUpperInvariant()</p>
                    }
                    else
                    {
                        <p class="navbar-link-text">LOGIN/REG</p>
                    }
                </a>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="global-hr-line" />
        <footer class="global-hr-line">
            <p class="global-footer">&copy; @DateTime.Now.Year - VOXPOP</p>
        </footer>
    </div>
</body>
</html>


<script>
    // Google Analytics
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48816707-2', 'auto');
    ga('send', 'pageview');

</script>

<!--This script below is currently non-functional. I've commented it out to highlight the fact. If we want it (do we want it?) then we need to fix it.
<script type="text/javascript">
    $scope.scrollPos = {}; // scroll position of each view

    $(window).on('scroll', function () {
        if ($scope.okSaveScroll) { // false between $routeChangeStart and $routeChangeSuccess
            $scope.scrollPos[$location.path()] = $(window).scrollTop();
            //console.log($scope.scrollPos);
        }
    });

    $scope.scrollClear = function (path) {
        $scope.scrollPos[path] = 0;
    }

    $scope.$on('$routeChangeStart', function () {
        $scope.okSaveScroll = false;
    });

    $scope.$on('$routeChangeSuccess', function () {
        $timeout(function () { // wait for DOM, then restore scroll position
            $(window).scrollTop($scope.scrollPos[$location.path()] ? $scope.scrollPos[$location.path()] : 0);
            $scope.okSaveScroll = true;
        }, 0);
    });

</script>-->
