<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VoxPop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>

<body>
    <div>
        <a href="@Url.Action("Index", "Home")" class="Logo">
        </a>
        <img class="logo-load" />
    </div>
    <div class="navbar">
        <div id="CreateButton">
            <a href="@Url.Action("Create","Home")" class="navbar-link">
                <p class="navbar-link-text">Create</p>
            </a>
        </div>
        <div id="SearchButton">
            <a href="@Url.Action("Search","Home")" class="navbar-link">
                <p class="navbar-link-text">Search VP</p>
            </a>
        </div>
   </div>

   <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VoxPop</p>
        </footer>
    </div>
</body>
</html>
