<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - VOXPOP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>

<body>
    @Html.Partial("_LoginPartial")
    <div>
        <a href="@Url.Action("Index", "Home")" class="Logo">
        </a>
        <img class="logo-load" />
    </div>
    <div class="navbar">
        <div id="CreateButton">
            <a href="@Url.Action("Create","Home")" class="navbar-link">
                <p class="navbar-link-text">CREATE</p>
            </a>
        </div>
        <div id="SearchButton">
            <a href="@Url.Action("Search","Home")" class="navbar-link">
                <p class="navbar-link-text">SEARCH</p>
            </a>
        </div>
        <nav class="main-nav">
            <div id="LoginButton">
                <a class="cd-signin navbar-link" href="#0">
                    <p class="navbar-link-text">LOGIN/REG</p>
                </a>
            </div>
            </nav>
    </div>
   <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VOXPOP</p>
        </footer>
    </div>
</body>
</html>

<script type="text/javascript">
    $scope.scrollPos = {}; // scroll position of each view

    $(window).on('scroll', function() {
        if ($scope.okSaveScroll) { // false between $routeChangeStart and $routeChangeSuccess
            $scope.scrollPos[$location.path()] = $(window).scrollTop();
            //console.log($scope.scrollPos);
        }
    });

    $scope.scrollClear = function(path) {
        $scope.scrollPos[path] = 0;
    }

    $scope.$on('$routeChangeStart', function() {
        $scope.okSaveScroll = false;
    });

    $scope.$on('$routeChangeSuccess', function() {
        $timeout(function() { // wait for DOM, then restore scroll position
            $(window).scrollTop($scope.scrollPos[$location.path()] ? $scope.scrollPos[$location.path()] : 0);
            $scope.okSaveScroll = true;
        }, 0);
    });

</script>