@using Site.Models
@using Microsoft.AspNet.Identity


<link rel="stylesheet" href="~/Libraries/login-signup-modal-window/css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="~/Libraries/login-signup-modal-window/css/style.css"> <!-- Gem style -->
<script src="~/Libraries/login-signup-modal-window/js/modernizr.js"></script> <!-- Modernizr -->

<div class="cd-user-modal">
    <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container">
        <!-- this is the container wrapper -->
        <ul class="cd-switcher">
            @if (Request.IsAuthenticated)
            {
                <li><a href="#0" class="mod-but">My VOXPOP</a></li>
            }
            else
            {
                <li><a href="#0" class="mod-but">Login</a></li>
            }
            @if (Request.IsAuthenticated)
            {
                <li><a href="#0" class="mod-but">Not, @Site.Services.ClaimsService.GetClaim(VoxPopConstants.FirstNameClaimKey)?</a></li>
            }
            else
            {
                <li><a href="#0" class="mod-but">Register</a></li>

            }
        </ul>
        <div id="cd-login">
            <!-- log in form -->
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @("Hello, " + @Site.Services.ClaimsService.GetClaim(VoxPopConstants.FirstNameClaimKey) + ".")
                        </li>
                        <li>
                            @Html.ActionLink("Your Stories", "AuthorStories", new { authID = @Site.Services.ClaimsService.GetClaim("identifier"), auth = @Site.Services.ClaimsService.GetAuthenticatedUsersFullName() }, null)
                        </li>
                        <li>
                            <p class="cd-form-bottom-message"><a href="#0">Contact VOXPOP</a></p>
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </li>
                    </ul>
                }
            }
            else
            {
                @Html.Partial("_LoginFormPartial", new LoginViewModel())

                <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
            }

            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-login -->
        <div id="cd-signup">
            <!-- sign up form -->
            @Html.Partial("_RegisterFormPartial", new RegisterViewModel())
            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-signup -->

        <div id="cd-reset-password">
            <!-- reset password form -->
            @if (Request.IsAuthenticated)
            {
                <h3 class="login-reg-form-page-titles">Got a problem? Don't let it bring you down.</h3>
                <hr class="login-reg-form-hr-line" />
                <p>
                    If you have an issue or even better a suggestion, get in touch;
                </p>
                <strong><a href="mailto:admin@VOXPOP.london" style="padding-left: 175px;">admin@VOXPOP.london</a></strong>
                <p>We'll be with you faster than you can say, 'Have you tried turning it off and on again...?'</p>
                <p class="cd-form-bottom-message"><a href="#0">Back to My VOXPOP</a></p>

            }
            else
            {

                <h3 class="login-reg-form-page-titles">Lost or forgotten your password?</h3>
                <hr class="login-reg-form-hr-line" />
                <p>Please email us at <strong><a href="mailto:admin@VOXPOP.london">admin@VOXPOP.london</a></strong> and we will respond to you with instructions on how to reset it and get you Creating and Voting again ASAP!</p>
                <p class="cd-form-bottom-message"><a href="#0">Back to Login</a></p>
            }

        </div> <!-- cd-reset-password -->

        <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->

<script src="~/Libraries/login-signup-modal-window/js/jquery-1.11.0.min.js"></script>
<script src="~/Libraries/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
