@using Site.Models
@using Microsoft.AspNet.Identity

<link rel="stylesheet" href="~/Libraries/login-signup-modal-window/css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="~/Libraries/login-signup-modal-window/css/style.css"> <!-- Gem style -->
<script src="~/Libraries/login-signup-modal-window/js/modernizr.js"></script> <!-- Modernizr -->

<div class="cd-user-modal">
    <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container">
        <!-- this is the container wrapper -->
        <ul class="cd-switcher">

            <li><a href="#0" class="mod-but">Login</a></li>
            <li><a href="#0" class="mod-but">Register</a></li>
        </ul>
        <div id="cd-login">
            <!-- log in form -->
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                }
            }
            else
            {
                @Html.Partial("_LoginFormPartial", new LoginViewModel())
            }
            <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-login -->
        <div id="cd-signup">
            <!-- sign up form -->
            @Html.Partial("_RegisterFormPartial", new RegisterViewModel())
            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-signup -->

        <div id="cd-reset-password">
            <!-- reset password form -->
            @Html.Partial("_ForgotPasswordFormPartial", new ForgotPasswordViewModel())
            <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
        </div> <!-- cd-reset-password -->

        <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->

<script src="~/Libraries/login-signup-modal-window/js/jquery-1.11.0.min.js"></script>
<script src="~/Libraries/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
