@model Site.Models.RegisterViewModel
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="login-reg-form-page-titles">New to VOXPOP?</h3>
    <p>Register here to Vote on Stories or Create your own...</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="login-reg-form-headings login-reg-form-headings-first-name">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="login-reg-form-headings login-reg-form-headings-last-name">

            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="login-reg-form-headings login-reg-form-headings-email">

            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="login-reg-form-headings login-reg-form-headings-pw">

            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="login-reg-form-headings login-reg-form-headings-con-pw">

            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <input type="submit" class="btn btn-default login-reg-form-but-reg" value="Register" />
        </div>
    </div>
}