@model Site.Models.BlogModel
@{
    ViewBag.Title = "Create";
}

<h1 class="page-headings">Create a new Story here...</h1>
<div class="create-intro">
    <p>You can do whatever you want with a VoxPop Story, be it an issue personal to you, a campaign in your community or even a global concern - write about it!</p>
    <p>Create short question to raise awareness and get feedback like a petition, or a long intricate article espousing something that's important to you and try to persuade people of your point - it's completely up to you.</p>
    <p>Add a Vote to your Story - you can choose appropriate answers to your Story and all readers will be able to click to give an instant response.</p>
</div>
<div class="create-form-box">

    @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @name = "blogForm", enctype = "multipart/form-data" }))
    {
        <div class="create-form-headings">
            @Html.LabelFor(x => x.Title)
        </div>
        <div>
            <div>
                @Html.TextBoxFor(x => x.Title, new { placeholder = "  What's your story about?" })
            </div>
            @Html.ValidationMessageFor(x => x.Title)
            <p class="create-form-descriptions">Think of this either like a Newspaper headline or the question at the top of a poll - or whatever you like!</p>
        </div>

        <fieldset class="create-form-voting-box">
            <div id="pollOptions">
                <label for="pollOptions" class="create-form-headings">Voting Options</label>
                <input class="create-form-pollOptions-boxes" pollOptions" type="text" placeholder=" eg.  'I agree' " />
                <input class="create-form-pollOptions-boxes" name="pollOptions" type="text" placeholder=" e.g.  'I disagree' " />
            </div>
            <span onclick="AddOption()" class="btn">Add more options...</span>
        </fieldset>

        <div class ="create-form-headings">
            @Html.LabelFor(x => x.ImageUri)
            <input name="image" type="file" accept="image/*" />
        </div>

        <div class="create-form-headings">
            @Html.LabelFor(x => x.ImageCaption)
        </div>
        <div>
            @Html.TextBoxFor(x => x.ImageCaption, new { placeholder = " What is your image an image of?" })
            @Html.ValidationMessageFor(x => x.ImageCaption)
        </div>

        <div class="create-form-headings">
            @Html.LabelFor(x => x.Content)
        </div>
        <div>
            @Html.EditorFor(x => x.Content)
            @Html.ValidationMessageFor(x => x.Content)
        </div>

        <input type="submit" />
    }

<script>
    var AddOption = function () {
        var newOption = document.createElement("input");
        newOption.className = "create-form-new-pollOption-boxes";
        newOption.setAttribute("name", "pollOptions");
        newOption.setAttribute("type", "text");
        document.getElementById("pollOptions").insertAdjacentElement("beforeend", newOption);
    }
</script>

</div>
