@model Site.Models.BlogPostEntity
@{
    ViewBag.Title = "GenericStory";
}

<h2>@Model.BlogTitle</h2>
<p>@Model.BlogContent</p>
@foreach (var pollItem in Model.Poll)
{
    <h4>@pollItem.Key :</h4>
    <span>@pollItem.Value</span>
    using (Html.BeginForm("Vote", "Home"))
    {
        <input type="hidden" name="pollItemKey" value="@pollItem.Key">
        <input type="hidden" name="blogPostPartitionKey" value="@Model.PartitionKey">
        <input type="hidden" name="blogPostRowKey" value="@Model.RowKey">
        <input type="hidden" name="returnUrl" value="/Home/GenericStory?rowKey=@Model.RowKey&partitionKey=@Model.PartitionKey">
        <input type="submit" value="+1">
    }
}