@model IEnumerable<Site.Storage.Models.BlogPostEntity>
@{
    ViewBag.Title = "Index";
}

<h1 class="page-headings">Top Stories</h1>

@if (@Model != null)
{
    foreach (var blogPost in Model)
    {
        <script>
            chartData = [];
            VoxPopCharts.InitializeChart();
        </script>
        <div class="index-links">
            <a href="~/Story/@blogPost.PartitionKey/@blogPost.RowKey">
                <img src="@blogPost.ImageUri" class="index-pic">
                <div class="index-chart">
                    <canvas id="@blogPost.RowKey@blogPost.PartitionKey" height="240" width="240"></canvas>
                </div>
                <div class="index-titles line-clamp">
                    @blogPost.Title
                </div>
            </a>
        </div>

        foreach (KeyValuePair<string, int> pollItem in blogPost.Poll)
        {
            string option = @pollItem.Key.Replace("+", " ");
            <script>
                chartData.push(VoxPopCharts.GetPollData("@option", @pollItem.Value));
            </script>
        }
        <script>
            VoxPopCharts.GenerateChart("@blogPost.RowKey@blogPost.PartitionKey", chartData);
        </script>
    }
}