@model IEnumerable<Site.Models.BlogPostEntity>
@{
    ViewBag.Title = "Index";
}

<h1 class="page-headings">Top Stories</h1>


@if (@Model != null)
{
    foreach (var blogPost in Model)
    {
        <script>
            chartData = []
        </script>
        <div>
            <a href="@Url.Action("Story", "Home", new { rowKey = blogPost.RowKey, partitionKey = blogPost.PartitionKey }, null)" class="IndexStoryLinks">
                <div>
                    <img src="data:image/gif;base64,@blogPost.BlogImage" class="IndexStoryPics">
                </div>
                <div>
                    <canvas class="story-chart" id="@blogPost.RowKey@blogPost.PartitionKey" height="300" width="300"></canvas>
                </div>
                <p class="IndexStoryTitles">@blogPost.BlogTitle</p>
            </a>
        </div>
        foreach (var pollItem in blogPost.Poll)
        {
            <script>
                chartData.push(GetPollData("@pollItem.Key", @pollItem.Value));
            </script>
        }

        <script>
            GenerateChart("@blogPost.RowKey@blogPost.PartitionKey", chartData)
        </script>
    }
}