@model IEnumerable<Site.Models.BlogPostEntity>
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@Html.ActionLink("Create Story", "Create")

@Html.ActionLink("Search VP", "Search")

@if (@Model != null)
{
    foreach (var blogPost in Model)
    {
        <h2>@blogPost.BlogTitle</h2>
        <p>@blogPost.BlogContent</p>
        foreach (var pollItem in blogPost.Poll)
        {
            <h4>@pollItem.Key :</h4>
            <span>@pollItem.Value</span>
        }
    }
}
