@model Site.Models.BlogModel
@{
    ViewBag.Title = "Story";
}

<script>
    var chartData = [];
</script>

<h1 class="story-headings">@Model.Title</h1>
<div class="story-width">
    <a>
        <div>
            <img src="@Model.ImageUri" class="story-pic">
        </div>
        <div>
            <a class="story-chart-box">
                <div>
                    <canvas class="story-chart" id="storyChart" height="350" width="350"></canvas>
                </div>
                <a class="story-votebuttons">
                    <h2 class="story-votebuttons-title">Vote</h2>
                    @foreach (var pollItem in Model.Poll)
                    {
                        <h4>@pollItem.Key :</h4>
                        <span>@pollItem.Value</span>
                        using (Html.BeginForm("Vote", "Home"))
                        {
                            <input type="hidden" name="pollItemKey" value="@pollItem.Key">
                            <input type="hidden" name="blogPostPartitionKey" value="@Model.PartitionKey">
                            <input type="hidden" name="blogPostRowKey" value="@Model.RowKey">
                            <input type="hidden" name="returnUrl" value="/Home/Story?rowKey=@Model.RowKey&partitionKey=@Model.PartitionKey">
                            <input type="submit" value="+1">
                        }
                        <script>
                            chartData.push(GetPollData("@pollItem.Key", @pollItem.Value));
                        </script>
                    }
                </a>
            </a>
        </div>
        <p class="story-pic-caption">@Model.ImageCaption</p>
    </a>
</div>

<p class="story-content">@Model.Content</p>

<script>
    GenerateChart("storyChart", chartData)
</script>
